.row.proximos-viajes

    each viaje in viajes
        .col-md-6.col-lg-4.mb-4
            .card
                img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`, alt=viaje.imagen)
                .card-body
                    h2= viaje.titulo
                    p
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="2"> <path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z"></path> <path d="M16 3v4"></path> <path d="M8 3v4"></path> <path d="M4 11h16"></path> <path d="M11 15h1"></path> <path d="M12 15v3"></path> </svg> 

                        | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}
                    p    
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="24" height="24" stroke-width="1.5"> <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path> <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path> <path d="M16 3.13a4 4 0 0 1 0 7.75"></path> <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path> </svg> 

                        | #{viaje.disponibles} - Disponibles

                    p= viaje.descripcion.substr(0, 400) + '...'
                    a(href=`viajes/${viaje.slug}`, class="btn btn-success btn-block") Mas Informacion    

